In [30]:
import numpy as np
import pandas as pd

In [74]:
building_type = 'two_room'

prophet_forecast = pd.read_json(f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Ken Folder/json_prediction/{building_type}_predictions-Prophet.json")
locations = prophet_forecast[["longitude", "latitude"]]
prophet_forecast.drop(columns=["longitude", "latitude"], inplace=True)
prophet_forecast

            pred_0       pred_1       pred_2       pred_3
100    8115.405178  8099.883309  8146.901360  8296.843871
120    8449.855347  8630.527991  8583.506607  8907.343836
140    9058.110007  9188.246754  9226.328231  9510.526547
150    8622.354842  8902.572937  8893.424373  9207.834393
170    8107.373202  8160.197911  8459.205742  8326.141413
...            ...          ...          ...          ...
90530  2179.710173  2120.152917  2237.975052  2237.316708
94100   871.536811   810.798195   822.724417   794.939329
96100  2229.865998  2172.392627  2261.542064  2207.267122
96200  1862.501917  2007.811654  1866.060240  1979.083065
96300  2127.691125  2029.092714  1966.025437  2039.079824

[155 rows x 4 columns]

In [54]:
sarimax_forecast = pd.read_json(f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Bruce/results/{building_type}/{building_type}_sarimax_forecasts.json")
sarimax_forecast.drop(columns=["longitude", "latitude"], inplace=True)
sarimax_forecast

             pred_0        pred_1        pred_2        pred_3
100    1.376730e+06  1.440879e+06  1.519348e+06  1.588185e+06
120    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
140    9.067857e+03  9.762777e+03  9.846263e+03  9.351347e+03
150    8.903481e+03  8.810338e+03  8.887704e+03  9.195685e+03
170    8.226921e+03  8.011609e+03  8.317305e+03  8.341036e+03
...             ...           ...           ...           ...
90530  2.197916e+03  2.151166e+03  2.243066e+03  2.235140e+03
94100  8.519001e+02  7.991593e+02  8.378019e+02  8.065734e+02
96100 -1.800858e+06 -1.918311e+06 -2.044941e+06 -2.176578e+06
96200  1.706292e+03  1.926701e+03  1.859392e+03  2.034474e+03
96300  1.325662e+04  1.314639e+04  1.466044e+04  1.461161e+04

[157 rows x 4 columns]

In [57]:
df = pd.concat([sarimax_forecast, prophet_forecast], axis=1, join='inner')
df.head()

,pred_0,pred_1,pred_2,pred_3,pred_0,pred_1,pred_2,pred_3
100,1.376730e+06,1.440879e+06,1.519348e+06,1.588185e+06,8115.405178,8099.883309,8146.901360,8296.843871
120,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8449.855347,8630.527991,8583.506607,8907.343836
140,9.067857e+03,9.762777e+03,9.846263e+03,9.351347e+03,9058.110007,9188.246754,9226.328231,9510.526547
150,8.903481e+03,8.810338e+03,8.887704e+03,9.195685e+03,8622.354842,8902.572937,8893.424373,9207.834393
170,8.226921e+03,8.011609e+03,8.317305e+03,8.341036e+03,8107.373202,8160.197911,8459.205742,8326.141413

In [70]:
df.iloc[:,:4].T

,100,120,140,150,170,180,200,210,250,260,...,90100,90120,90130,90250,90500,90530,94100,96100,96200,96300
pred_0,1.376730e+06,0.0,9067.856766,8903.480884,8226.921258,8324.972440,6917.252862,6650.951452,7183.640296,7972.596465,...,2598.697098,-23158.996190,2833.858089,1526.221526,1812.214036,2197.915919,851.900101,-1.800858e+06,1706.291882,13256.623083
pred_1,1.440879e+06,0.0,9762.776732,8810.338134,8011.608932,8251.679037,7044.250306,6641.427483,7271.437734,7960.769584,...,2661.303703,-26050.912857,2581.053340,1504.210750,1995.105037,2151.165590,799.159331,-1.918311e+06,1926.700705,13146.392040
pred_2,1.519348e+06,0.0,9846.262677,8887.704125,8317.304527,8479.946653,7076.915907,6790.236702,7319.391734,8182.570191,...,2789.511189,-3196.914671,2421.868673,1530.395879,1964.068097,2243.065891,837.801857,-2.044941e+06,1859.392256,14660.444430
pred_3,1.588185e+06,0.0,9351.347048,9195.684749,8341.036370,8655.534484,7254.685624,6824.013403,7384.166768,8274.312583,...,2729.454141,-2234.914346,2437.404278,1479.938056,2002.057400,2235.140493,806.573371,-2.176578e+06,2034.473901,14611.611141

In [68]:
set(sarimax_forecast.index) - set(prophet_forecast.index)

{42100, 70460}

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 100 to 96300
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pred_0  155 non-null    float64
 1   pred_1  155 non-null    float64
 2   pred_2  155 non-null    float64
 3   pred_3  155 non-null    float64
 4   pred_0  155 non-null    float64
 5   pred_1  155 non-null    float64
 6   pred_2  155 non-null    float64
 7   pred_3  155 non-null    float64
dtypes: float64(8)
memory usage: 15.0 KB

In [47]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

mape_outlier_diff = 0.1

err = MAPE(sarimax_forecast.T, prophet_forecast.T, multioutput='raw_values')
outlier_bool = err > mape_outlier_diff
outlier_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False])

In [48]:
res = (sarimax_forecast + prophet_forecast)/2
res[outlier_bool] = prophet_forecast[outlier_bool]
res = pd.concat([res,locations],axis=1)
res

            pred_0       pred_1       pred_2       pred_3  longitude  latitude
100    8701.428772  8617.823454  8886.198346  9070.285864    24.9316   60.1714
120    8984.382310  8485.807433  8886.316105  9092.810372    24.9391   60.1632
140    9342.455029  9490.654517  9415.901859  9361.869554    24.9525   60.1578
150    9224.087921  9319.695284  9366.586743  9530.829690    24.9369   60.1570
170    8807.529160  8283.072825  8846.248535  9058.803800    24.9554   60.1728
180    9016.129591  8827.154044  9182.467595  9167.064207    24.9190   60.1634
250    8209.180634  7863.381100  8131.041816  8411.724487    24.9127   60.1873
260    8507.036358  8564.632893  8715.139319  8766.954257    24.9226   60.1794
270    8181.600881  7990.014756  8367.048503  8198.055901    24.9007   60.1942
400    6229.268860  6270.372948  6398.212285  6345.017086    24.8978   60.2265
500    7538.443201  7369.520834  7623.144589  7663.445124    24.9601   60.1873
510    7475.305493  7395.856022  7639.650889  7671.793079    24.9498   60.1918
520    6951.173310  6924.246395  7023.939410  7054.955269    24.9416   60.1983
530    7892.837540  7719.103483  8011.098788  8091.696644    24.9505   60.1826
1300   5071.310678  4736.794810  5605.049097  5377.549798    25.0223   60.2949
2230   4771.129297  4748.056988  4910.889062  4832.167442    24.7465   60.1525
2320   3967.005951  3814.791207  4104.379365  4237.114717    24.6458   60.1466
4400   3433.530514  3327.184468  3410.970389  3493.180619    25.0776   60.4704
6100   3398.793380  3416.465617  3589.454525  3580.215252    25.6617   60.3973
13100  2403.505034  2442.392888  2461.042934  2430.418815    24.4531   60.9876
20100  4424.218263  4370.224859  4478.595894  4458.728103    22.2261   60.4449
20320  2465.080953  2485.066370  2439.129242  2477.895320    22.2318   60.4761
20810  4555.749952  4520.078035  4334.005811  4609.342704    22.2562   60.4347
21200  2208.813098  2157.845655  2235.469440  2275.085788    22.1538   60.4852
24100  1589.157557  1488.050077  1571.127468  1524.082717    23.1424   60.3839
26100  1572.899106  1557.546067  1745.687713  1717.032349    21.5026   61.1343
33200  4900.432160  4833.299538  4914.061578  4934.210739    23.7523   61.4947
33710  2943.494120  2886.457606  3237.096176  2952.150982    23.8770   61.4678
33720  2622.501405  2718.402124  2724.246385  2701.412626    23.8565   61.4471
40100  3427.944774  3311.559447  3287.606276  3206.558471    25.7517   62.2427
48100  1561.438203  1587.002732  1618.379526  1576.014893    27.0224   60.4181
50100  2340.201366  2292.641584  2223.373405  2416.172855    27.2543   61.7037
90100  3324.450532  3177.715664  3315.001835  3373.111953    25.4722   65.0121
90120  2863.100467  2896.876610  2836.285117  3038.981662    25.4554   65.0043
90500  2441.856172  2407.075498  2407.634356  2423.669015    25.4786   65.0259

In [81]:
prophet_dir = f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Ken Folder/json_prediction/CLUSTERED_{building_type}_predictions-Prophet.json"
sarimax_dir = f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Bruce/results/{building_type}/{building_type}_sarimax_cluster_forecasts.json"

prophet_forecast = pd.read_json(prophet_dir)
sarimax_forecast = pd.read_json(sarimax_dir)

df = pd.concat([sarimax_forecast, prophet_forecast], axis=1, join='inner')

In [84]:
sarimax_forecast

,0,1,2,3,4,5
pred_0,3537.695800,1401.497825,5373.434523,809.538130,7700.596460,2247.116475
pred_1,3505.797276,1385.893456,5402.728907,822.493812,7700.078234,2230.033503
pred_2,3608.678218,1453.980242,5411.537906,794.753070,7918.843684,2265.719371
pred_3,3581.401751,1466.533869,5476.466599,780.248697,8087.927388,2305.022586

In [85]:
prophet_dir = f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Ken Folder/json_prediction/CLUSTERED_{building_type}_predictions-Prophet.json"
sarimax_dir = f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Bruce/results/{building_type}/{building_type}_sarimax_cluster_forecasts.json"

prophet_forecast = pd.read_json(prophet_dir)
sarimax_forecast = pd.read_json(sarimax_dir).T

df = pd.concat([sarimax_forecast, prophet_forecast], axis=1, join='inner')
sarimax_forecast = df.iloc[:,:4]
prophet_forecast = df.iloc[:,4:]
err = MAPE(sarimax_forecast.T, prophet_forecast.T, multioutput='raw_values')
outlier_bool = err > mape_outlier_diff

res_df = (sarimax_forecast + prophet_forecast)/2
res_df[outlier_bool] = prophet_forecast[outlier_bool]

In [86]:
res_df

        pred_0       pred_1       pred_2       pred_3
0  3491.408405  3491.285746  3589.222351  3585.821495
1  1404.886043  1386.042402  1419.491155  1453.138588
2  5293.110509  5325.320435  5313.955661  5384.824594
3   816.460025   838.483366   806.421162   798.714621
4  7684.552657  7706.823947  7896.553035  8037.887142
5  2230.724830  2224.580621  2240.097511  2277.488979

In [77]:
prophet_dir = f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Ken Folder/json_prediction/CLUSTERED_{building_type}_predictions-Prophet.json"
sarimax_dir = f"/u/97/nguyenq10/unix/Courses/CS-C3250 Data Science Project/OP-Forecasting-Future-House-Prices/notebooks/Bruce/results/{building_type}/{building_type}_sarimax_cluster_forecasts.json"

prophet_forecast = pd.read_json(prophet_dir)
sarimax_forecast = pd.read_json(sarimax_dir)

df = pd.concat([sarimax_forecast, prophet_forecast], axis=1, join='inner')
sarimax_forecast = df.iloc[:,:4]
prophet_forecast = df.iloc[:,4:]
err = MAPE(sarimax_forecast.T, prophet_forecast.T, multioutput='raw_values')
outlier_bool = err > mape_outlier_diff

res_df = (sarimax_forecast + prophet_forecast)/2
res_df[outlier_bool] = prophet_forecast[outlier_bool]

res_df

ValueError: Found input variables with inconsistent numbers of samples: [4, 6]