In [20]:
import numpy as np
import pandas as pd

In [28]:
forecasts = pd.read_csv("prediction_datasets/two_room/two_room_sarimax_forecasts.csv", index_col=[0]).T
forecasts.reset_index(inplace=True)
forecasts.rename(columns={"index": "Postal code"}, inplace=True)
forecasts.head()

  Postal code        pred_0        pred_1        pred_2        pred_3
0       00100  1.376730e+06  1.440879e+06  1.519348e+06  1.588185e+06
1       00120  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
2       00140  9.067857e+03  9.762777e+03  9.846263e+03  9.351347e+03
3       00150  8.903481e+03  8.810338e+03  8.887704e+03  9.195685e+03
4       00170  8.226921e+03  8.011609e+03  8.317305e+03  8.341036e+03

In [29]:
import pgeocode

nomi = pgeocode.Nominatim('fi')
location = nomi.query_postal_code(forecasts["Postal code"].values) # df_p_col = postal codes
wanted_features_location = location[["postal_code",
                                     "latitude", 
                                     "longitude"]]
wanted_features_location = wanted_features_location.rename(columns={"postal_code": "Postal code"})
new_json_df = pd.merge(forecasts, wanted_features_location, on="Postal code").set_index("Postal code") #json_df = predictions
new_json_df.head()

,pred_0,pred_1,pred_2,pred_3,latitude,longitude
Postal code,,,,,,
00100,1.376730e+06,1.440879e+06,1.519348e+06,1.588185e+06,60.1714,24.9316
00120,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,60.1632,24.9391
00140,9.067857e+03,9.762777e+03,9.846263e+03,9.351347e+03,60.1578,24.9525
00150,8.903481e+03,8.810338e+03,8.887704e+03,9.195685e+03,60.1570,24.9369
00170,8.226921e+03,8.011609e+03,8.317305e+03,8.341036e+03,60.1728,24.9554

In [30]:
new_json_df.to_json("prediction_datasets/two_room/two_room_sarimax_forecasts.json")

# Data Group A

In [65]:
dfA = pd.read_csv("./imputed_df.csv",index_col=[0])
dfA.head()

,"(100, 'Blocks of flats, one-room flat')","(100, 'Blocks of flats, two-room flat')","(100, 'Blocks of flats, three-room flat+')","(100, 'Blocks of flats total')","(100, 'Building types total')","(120, 'Blocks of flats, one-room flat')","(120, 'Blocks of flats, two-room flat')","(120, 'Blocks of flats, three-room flat+')","(120, 'Blocks of flats total')","(120, 'Building types total')",...,"(96200, 'Building types total')","(96300, 'Blocks of flats, two-room flat')","(96300, 'Building types total')","(96400, 'Building types total')","(96440, 'Building types total')","(96460, 'Building types total')","(96500, 'Building types total')","(96900, 'Building types total')","(96910, 'Building types total')","(99600, 'Building types total')"
2010-04-01,5347,5021,5396,5219,5219,5646,5355,5713,5495,5495,...,1646,1525,1475,1499,1109,1568,1039,2030,1404,1059
2010-07-01,5826,5081,4828,5181,5181,5395,5534,5884,5595,5595,...,1668,1794,1782,1614,1069,1568,1069,1519,1354,836
2010-10-01,5566,5006,5394,5269,5269,5613,5321,5666,5521,5521,...,1619,1670,1750,1826,929,1568,1028,1839,1462,972
2011-01-01,5545,5713,5571,5632,5632,5905,5528,5691,5689,5689,...,1631,1501,1678,1697,1195,1615,1146,1868,1445,737
2011-04-01,5812,5866,5709,5807,5807,6332,5523,5571,5749,5749,...,1906,1713,1672,1565,932,1657,1097,1729,1544,932

In [149]:
dfA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 2010-04-01 to 2021-04-01
Columns: 1193 entries, (100, 'Blocks of flats, one-room flat') to (99600, 'Building types total')
dtypes: int64(1193)
memory usage: 419.8+ KB

Unpacking tuple strings into `zip_codes` and `building_types`

In [66]:
import re

def to_zipcode(tuple_string):
    return f"{int(re.search(r'[0-9]+', tuple_string).group()):05d}"

def to_building_type(tuple_string):
    return tuple_string.split("'")[1]
    

print(to_zipcode(dfA.columns[0]))
print(to_building_type(dfA.columns[0]))

00100
Blocks of flats, one-room flat

In [67]:
zip_codes, building_types = [to_zipcode(col) for col in dfA.columns], [to_building_type(col) for col in dfA.columns]
zip_codes[:5],building_types[:5]

(['00100', '00100', '00100', '00100', '00100'],
 ['Blocks of flats, one-room flat',
  'Blocks of flats, two-room flat',
  'Blocks of flats, three-room flat+',
  'Blocks of flats total',
  'Building types total'])

# Data Group B

In [119]:
dfB = pd.read_csv("cleaned.csv")
dfB.head()

,Postal code,Building type,2010Q1 Price per square meter (EUR/m2),2010Q2 Price per square meter (EUR/m2),2010Q3 Price per square meter (EUR/m2),2010Q4 Price per square meter (EUR/m2),2011Q1 Price per square meter (EUR/m2),2011Q2 Price per square meter (EUR/m2),2011Q3 Price per square meter (EUR/m2),2011Q4 Price per square meter (EUR/m2),...,2019Q1 Price per square meter (EUR/m2),2019Q2 Price per square meter (EUR/m2),2019Q3 Price per square meter (EUR/m2),2019Q4 Price per square meter (EUR/m2),2020Q1 Price per square meter (EUR/m2),2020Q2 Price per square meter (EUR/m2),2020Q3 Price per square meter (EUR/m2),2020Q4 Price per square meter (EUR/m2),2021Q1* Price per square meter (EUR/m2),2021Q2* Price per square meter (EUR/m2)
0,100,"Blocks of flats, one-room flat",5458.0,5347.0,5826.0,5566.0,5545.0,5812.0,5909.0,5856.0,...,7755.0,8332.0,8130.0,8068.0,7802.0,8543.0,9170.0,7517.0,8872.0,8596.0
1,100,"Blocks of flats, two-room flat",5164.0,5021.0,5081.0,5006.0,5713.0,5866.0,5552.0,5614.0,...,6914.0,7694.0,6901.0,7435.0,7573.0,7398.0,7868.0,7700.0,7829.0,7974.0
2,100,"Blocks of flats, three-room flat+",4944.0,5396.0,4828.0,5394.0,5571.0,5709.0,5450.0,5010.0,...,6883.0,6846.0,7379.0,6728.0,7205.0,6678.0,7178.0,7405.0,8053.0,8174.0
3,100,Blocks of flats total,5168.0,5219.0,5181.0,5269.0,5632.0,5807.0,5630.0,5511.0,...,7043.0,7478.0,7476.0,7345.0,7460.0,7275.0,8058.0,7540.0,8188.0,8188.0
4,100,Terraced houses total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
### Regex to change quarters to datetime
import datetime as date

def quarter_to_datetime(row):
    dates = {"Q1": "1/1", "Q2":"1/4", "Q3":"1/7", "Q4":"1/10"}
    string = row.replace("*", "").split(" ")[0]
    year, quarter = string[:4], string[4:]
    datetime_str = dates[quarter] + "/" + year
    return date.datetime.strptime(datetime_str, '%d/%m/%Y')

In [121]:
indices = list(zip(dfB.iloc[:,0].values, dfB.iloc[:,1].values))
columns = dfB.iloc[:,2:].columns.to_series().apply(quarter_to_datetime).values

print(indices[:5])
print(columns[:5])

[(100, 'Blocks of flats, one-room flat'), (100, 'Blocks of flats, two-room flat'), (100, 'Blocks of flats, three-room flat+'), (100, 'Blocks of flats total'), (100, 'Terraced houses total')]
['2010-01-01T00:00:00.000000000' '2010-04-01T00:00:00.000000000'
 '2010-07-01T00:00:00.000000000' '2010-10-01T00:00:00.000000000'
 '2011-01-01T00:00:00.000000000']

In [122]:
dfB = pd.DataFrame(dfB.iloc[:,2:].to_numpy(), index=indices, columns=columns).T

dfB.head()

,"(100, Blocks of flats, one-room flat)","(100, Blocks of flats, two-room flat)","(100, Blocks of flats, three-room flat+)","(100, Blocks of flats total)","(100, Terraced houses total)","(100, Building types total)","(120, Blocks of flats, one-room flat)","(120, Blocks of flats, two-room flat)","(120, Blocks of flats, three-room flat+)","(120, Blocks of flats total)",...,"(99950, Blocks of flats, three-room flat+)","(99950, Blocks of flats total)","(99950, Terraced houses total)","(99950, Building types total)","(99980, Blocks of flats, one-room flat)","(99980, Blocks of flats, two-room flat)","(99980, Blocks of flats, three-room flat+)","(99980, Blocks of flats total)","(99980, Terraced houses total)","(99980, Building types total)"
2010-01-01,5458.0,5164.0,4944.0,5168.0,NaN,5168.0,5515.0,5349.0,6236.0,5618.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-04-01,5347.0,5021.0,5396.0,5219.0,NaN,5219.0,5646.0,5355.0,5713.0,5495.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-01,5826.0,5081.0,4828.0,5181.0,NaN,5181.0,5395.0,5534.0,5884.0,5595.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-01,5566.0,5006.0,5394.0,5269.0,NaN,5269.0,5613.0,5321.0,5666.0,5521.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-01,5545.0,5713.0,5571.0,5632.0,NaN,5632.0,5905.0,5528.0,5691.0,5689.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfA

In [145]:
nice_columns = dfB.columns[dfB.isna().sum() <= 46/100*40]
nice = dfB[nice_columns]
nice.head()

,"(100, Blocks of flats, one-room flat)","(100, Blocks of flats, two-room flat)","(100, Blocks of flats, three-room flat+)","(100, Blocks of flats total)","(100, Building types total)","(120, Blocks of flats, one-room flat)","(120, Blocks of flats, two-room flat)","(120, Blocks of flats, three-room flat+)","(120, Blocks of flats total)","(120, Building types total)",...,"(96200, Building types total)","(96300, Blocks of flats, two-room flat)","(96300, Building types total)","(96400, Building types total)","(96440, Building types total)","(96460, Building types total)","(96500, Building types total)","(96900, Building types total)","(96910, Building types total)","(99600, Building types total)"
2010-01-01,5458.0,5164.0,4944.0,5168.0,5168.0,5515.0,5349.0,6236.0,5618.0,5618.0,...,1672.0,NaN,1758.0,1539.0,896.0,1598.0,970.0,1837.0,1292.0,830.0
2010-04-01,5347.0,5021.0,5396.0,5219.0,5219.0,5646.0,5355.0,5713.0,5495.0,5495.0,...,1646.0,1525.0,1475.0,1499.0,1109.0,1568.0,1039.0,2030.0,1404.0,NaN
2010-07-01,5826.0,5081.0,4828.0,5181.0,5181.0,5395.0,5534.0,5884.0,5595.0,5595.0,...,1668.0,1794.0,1782.0,1614.0,1069.0,NaN,1069.0,1519.0,1354.0,836.0
2010-10-01,5566.0,5006.0,5394.0,5269.0,5269.0,5613.0,5321.0,5666.0,5521.0,5521.0,...,1619.0,NaN,1750.0,1826.0,929.0,NaN,1028.0,NaN,1462.0,972.0
2011-01-01,5545.0,5713.0,5571.0,5632.0,5632.0,5905.0,5528.0,5691.0,5689.0,5689.0,...,1631.0,1501.0,1678.0,1697.0,1195.0,1615.0,1146.0,1868.0,1445.0,737.0

In [148]:
dfA

,"(100, 'Blocks of flats, one-room flat')","(100, 'Blocks of flats, two-room flat')","(100, 'Blocks of flats, three-room flat+')","(100, 'Blocks of flats total')","(100, 'Building types total')","(120, 'Blocks of flats, one-room flat')","(120, 'Blocks of flats, two-room flat')","(120, 'Blocks of flats, three-room flat+')","(120, 'Blocks of flats total')","(120, 'Building types total')",...,"(96200, 'Building types total')","(96300, 'Blocks of flats, two-room flat')","(96300, 'Building types total')","(96400, 'Building types total')","(96440, 'Building types total')","(96460, 'Building types total')","(96500, 'Building types total')","(96900, 'Building types total')","(96910, 'Building types total')","(99600, 'Building types total')"
2010-04-01,5347,5021,5396,5219,5219,5646,5355,5713,5495,5495,...,1646,1525,1475,1499,1109,1568,1039,2030,1404,1059
2010-07-01,5826,5081,4828,5181,5181,5395,5534,5884,5595,5595,...,1668,1794,1782,1614,1069,1568,1069,1519,1354,836
2010-10-01,5566,5006,5394,5269,5269,5613,5321,5666,5521,5521,...,1619,1670,1750,1826,929,1568,1028,1839,1462,972
2011-01-01,5545,5713,5571,5632,5632,5905,5528,5691,5689,5689,...,1631,1501,1678,1697,1195,1615,1146,1868,1445,737
2011-04-01,5812,5866,5709,5807,5807,6332,5523,5571,5749,5749,...,1906,1713,1672,1565,932,1657,1097,1729,1544,932
2011-07-01,5909,5552,5450,5630,5630,6034,5594,5512,5518,5518,...,1855,1620,1698,1680,1090,1694,1008,2035,1454,1082
2011-10-01,5856,5614,5010,5511,5511,5988,5045,5317,5471,5471,...,1856,1709,1813,1354,1117,1609,1095,1971,1467,1241
2012-01-01,5785,6020,5704,5843,5843,5824,5870,5858,5851,5851,...,1756,1672,1792,1709,1199,1559,1026,1953,1524,1129
2012-04-01,6436,5814,5466,5899,5899,5890,6080,5800,5957,5957,...,1814,1761,1708,1722,1115,1619,1162,1879,1552,1186
2012-07-01,6265,5802,5778,5965,5965,6503,5652,5984,5987,5987,...,1632,1839,1804,1917,1244,1607,1055,1620,1434,1198
2012-10-01,5954,5801,5501,5766,5766,6231,5453,5775,5843,5843,...,1832,1616,1822,1769,987,1588,1218,1848,1498,1277
2013-01-01,6150,6031,5424,5865,5865,6626,5895,6451,6265,6265,...,1638,1622,1463,1567,1079,1575,1137,1787,1480,1023
2013-04-01,6584,5963,5289,5835,5835,6896,6343,5963,6352,6352,...,1612,1549,1628,1800,1068,1411,986,1758,1609,1323
2013-07-01,6937,6394,5715,6351,6351,6948,6397,6002,6508,6508,...,1401,1941,1789,1914,1132,1372,1063,1695,1309,1143
2013-10-01,6475,6073,5701,6084,6084,6061,6260,6131,6169,6169,...,1868,1743,1642,1504,1046,1771,990,1669,1354,1273
2014-01-01,6552,5636,5633,5932,5932,6644,5850,5420,5845,5845,...,1714,1856,1713,1597,984,1613,1062,1880,1343,1043
2014-04-01,6805,5944,5520,6021,6021,6587,6086,6183,6253,6253,...,1650,1761,1609,1696,1038,1782,1069,1744,1720,1158
2014-07-01,7010,5985,5877,6275,6275,6490,5942,6047,6174,6174,...,1840,1629,1803,1557,1057,1604,1096,1839,1550,1158
2014-10-01,6552,6510,5902,6347,6347,5823,5886,5354,5694,5694,...,1706,2046,1842,1565,936,1613,1068,1742,1496,993
2015-01-01,6774,6231,5614,6124,6124,6561,6298,6215,6327,6327,...,1836,1750,1908,1899,982,1681,877,1511,1466,1158
2015-04-01,6586,6066,5520,6050,6050,6756,6112,6272,6323,6323,...,1961,1574,1843,1639,1038,1659,842,1761,1466,1158
2015-07-01,6568,6459,5677,6234,6234,7550,7062,6371,6888,6888,...,1688,1935,2152,1645,1008,1524,937,1920,1250,1163
2015-10-01,6626,6199,5814,6138,6138,6343,5911,6304,6162,6162,...,1657,1750,1591,1645,1156,1604,908,1903,1466,1147
2016-01-01,6830,6137,5980,6312,6312,6267,6158,6422,6239,6239,...,1905,1511,1562,1412,856,1617,811,2011,1391,1113
2016-04-01,6788,6337,5918,6304,6304,6751,6482,6290,6410,6740,...,1741,1856,1814,1584,1010,1654,948,1915,1594,1117
2016-07-01,4291,5640,5796,4905,4905,7354,6199,6495,6476,6476,...,1688,2030,1898,1395,1064,1609,836,1784,1376,982
2016-10-01,7036,6087,5881,6241,6241,6655,6627,7054,6753,6753,...,1958,2044,1886,1496,1018,1738,783,1631,946,1038
2017-01-01,6871,6454,5963,6368,6368,7144,6827,5899,6619,6569,...,1633,1997,2070,1364,910,1638,842,1856,1236,1061
2017-04-01,7384,6498,6382,6595,6595,7862,6648,6806,7009,7009,...,1740,1883,1856,1520,991,1667,1002,1862,1404,1004
2017-07-01,7462,7248,6582,7078,7078,8162,6747,6916,7133,7133,...,1854,2030,2008,1606,1054,1498,908,1975,1409,1064
2017-10-01,7494,7019,6593,6953,6953,7674,7357,7624,7127,7486,...,1967,1925,1583,1495,971,1713,921,1468,1169,940
2018-01-01,7769,6811,6356,6852,6852,8004,5881,7095,7034,7034,...,1906,1555,1531,1796,923,1788,663,2094,1298,871
2018-04-01,7670,7043,6838,7168,7168,7953,7829,6954,7509,7509,...,1846,2266,2267,1497,922,1684,910,1927,1288,956
2018-07-01,7962,7239,6219,7016,7016,7942,7694,7514,7458,7664,...,1635,1927,1845,1633,981,1665,829,1848,1285,747
2018-10-01,7784,7055,6710,7115,7115,8032,7819,7928,7476,7987,...,1649,1700,1785,1600,938,1702,861,1916,1285,962
2019-01-01,7755,6914,6883,7043,7043,8068,7726,7740,7807,7807,...,1739,2024,1889,1526,938,1698,824,1728,1292,962
2019-04-01,8332,7694,6846,7478,7478,8707,7732,7443,7780,7780,...,1940,2036,2006,1717,631,1851,1047,1920,1272,945
2019-07-01,8130,6901,7379,7476,7476,8089,7404,7253,7628,7628,...,1916,1809,1983,1751,819,1870,917,2014,1373,857
2019-10-01,8068,7435,6728,7345,7345,7688,7491,7887,7709,7709,...,1848,2127,1938,1275,938,1680,833,1822,1495,1023
2020-01-01,7802,7573,7205,7460,7460,8190,7331,7607,7622,7726,...,1617,1850,2053,1655,1014,1734,858,1772,918,937
2020-04-01,8543,7398,6678,7275,7275,8230,8389,8060,8216,8216,...,1773,1798,1988,1663,943,1734,879,2038,1320,937
2020-07-01,9170,7868,7178,8058,8058,9132,7794,8258,8393,8393,...,1902,2086,2192,1903,943,1703,866,2092,1320,1096
2020-10-01,7517,7700,7405,7540,7540,8190,8121,8146,7622,8411,...,1775,1943,2007,1987,943,1884,829,1795,1320,1036
2021-01-01,8872,7829,8053,8188,8188,8190,8931,8559,7622,8812,...,2053,1943,1651,1864,943,1605,927,1972,1484,790
2021-04-01,8596,7974,8174,8188,8188,8190,8585,8389,7622,8856,...,1822,2074,2257,1816,1111,1734,891,2087,1505,937

In [131]:
df3 = pd.merge(dfA, dfB, how='outer', indicator='Exist')
df3 = df3.loc[df3['Exist'] != 'both']

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

Random

In [1]:
pd.read_csv("notebooks/Bruce/prediction_datasets/one_room/one_room_sarimax_forecasts.csv")

NameError: name 'pd' is not defined